<!--<p>tabla-pelicula works!</p>-->
<div class="container">
  <label>Tabla-Pelicula</label>
  <div class="imagenes-container mb-3">
    <div *ngFor="let pelicula of lista; let i = index">
      <img
        [src]="pelicula.fotoPelicula"
        [alt]="pelicula.nombre"
        (click)="seleccionarPelicula(i)"
      />
    </div>
    <!--
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
      <img src="a" alt="a" />
    -->
  </div>
</div>
