<app-nav-bar (handlerCambiarSeccion)="recibirSeccion($event)"></app-nav-bar>

@if(seccion === 1) {

<!-- #region Pelicula-Listado -->
<app-pelicula-listado
  [mostrarBotonVolver]="false"
  (handlerSeleccionarPelicula)="recibirPelicula($event)"
></app-pelicula-listado>
<!-- #endregion Pelicula-Listado -->

<!-- #region Detalle-Pelicula -->
<app-detalle-pelicula [pelicula]="peliculaSeleccionada"></app-detalle-pelicula>
<!-- #endregion Detalle-Pelicula -->

<!-- #region Pelicula-Alta -->
<app-pelicula-alta [modoRouter]="true"></app-pelicula-alta>
<!-- #endregion Pelicula-Alta -->

} @else if(seccion === 2) {

<!-- #region Actor-Listado -->
<app-actor-listado
  [detallado]="false"
  [mostrarBotonVolver]="false"
></app-actor-listado>
<!-- #endregion Actor-Listado -->

<!-- #region Actor-Alta -->
<app-actor-alta [modoRouter]="true"></app-actor-alta>
<!-- #endregion Actor-Alta -->

} @else if(seccion === 3) {

<!-- #region Actor-Pelicula -->
<app-actor-pelicula [mostrarBotonVolver]="false"></app-actor-pelicula>
<!-- #endregion Actor-Pelicula -->

}
