<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!-- #region Busqueda -->
    <a class="navbar-brand">Busqueda</a>
    <!-- #endregion Busqueda -->

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- #region Pelicula -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/busqueda"
            (click)="cambiarSeccion(1)"
            >Pelicula</a
          >
        </li>
        <!-- #endregion Pelicula -->

        <!-- #region Actor -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/busqueda"
            (click)="cambiarSeccion(2)"
            >Actor</a
          >
        </li>
        <!-- #endregion Actor -->

        <!-- #region Actor-Pelicula -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/busqueda"
            (click)="cambiarSeccion(3)"
            >Actor-Pelicula</a
          >
        </li>
        <!-- #endregion Actor-Pelicula -->

        <!-- #region Pelicula Listado [RouterLink] -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/peliculas/listado"
            >Pelicula Listado [RouterLink]</a
          >
        </li>
        <!-- #endregion Pelicula Listado [RouterLink] -->

        <!-- #region Actor Listado [RouterLink] -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/actor/listado"
            >Actor Listado [RouterLink]</a
          >
        </li>
        <!-- #endregion Actor Listado [RouterLink] -->

        <!-- #region Actor-Pelicula [RouterLink] -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/actor/actorpelicula"
            >Actor-Pelicula [RouterLink]</a
          >
        </li>
        <!-- #endregion Actor-Pelicula [RouterLink] -->
      </ul>
    </div>
  </div>
</nav>
