.container {
  border: 2px solid black;
  border-radius: 15px;
}
.tabla-scroll {
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 15px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f1f1f1;
}

th,
td {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #ececec;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

img {
  height: 100px;
  width: 150px;
}
