<div class="container">
  <label>Tabla-Paises</label>
  <div class="tabla-container">
    <table>
      <thead>
        <tr>
          <!--<th>INDEX</th>-->
          <th>BANDERA</th>
          <th>PAIS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lista; let i = index">
          <!--<td>{{ i }}</td>-->
          <td (click)="elegirPais(item.pais)">
            <img [src]="item.banderaPng" />
          </td>
          <td (click)="elegirPais(item.pais)">
            {{ capitalizeWords(item.pais) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
